
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #add8e6;
    height: 100vh;
    margin-left: 400px;
}

.login_card{
    width: 500px;
    /* text-align: center; */
    background-color: #fff;
    border-radius: 25px;

    
}

h3{
    margin-bottom: 20px;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
}

.error{
    color: red;
    margin-bottom: 20px;
}